[submodule "Gists/Net/Specify_table_position_in_C#"]
	path = "Gists/Net/Specify_table_position_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/8df1ad0825619cab7c80b571c6e6ba99
[submodule "Gists/Net/Table_formatting_in_details_using_C#"]
	path = "Gists/Net/Table_formatting_in_details_using_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/770bf20bd617f3cb80031a74cc6c9b73
[submodule "Gists/Net/Replace_text_in_a_table_in_C#"]
	path = "Gists/Net/Replace_text_in_a_table_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/458eb4fd5bd1de8b06fab4d1ef1acdc6
[submodule "Gists/Net/Advanced_table_formatting_C#"]
	path = "Gists/Net/Advanced_table_formatting_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/93b92a7e6f2f4bbfd9177dd7fcecbd8c
[submodule "Gists/Net/Working_with_parts_of_a_table_using_C#"]
	path = "Gists/Net/Working_with_parts_of_a_table_using_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/7e7e54ead8b97457543ea46fc6bae045
[submodule "Gists/Net/Fill_document_table_from_external_database_using_C#"]
	path = "Gists/Net/Fill_document_table_from_external_database_using_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/affb937d8f345f60e6a506e1da3db9fa
[submodule "Gists/Net/How_to_make_a_table_in_C#"]
	path = "Gists/Net/How_to_make_a_table_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/10307fa0baf630b07d0cbdae30119bf3
[submodule "Gists/Net/Join_tables_in_C#"]
	path = "Gists/Net/Join_tables_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/b0735c64408bcb2c063f96f7c9d5af75
[submodule "Gists/Net/Split_table_in_C#"]
	path = "Gists/Net/Split_table_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/4ab56c5443822fa44f4cac1f45af32b7
[submodule "Gists/Net/How_to_merge_table_cells_in_C#"]
	path = "Gists/Net/How_to_merge_table_cells_in_C#"
	url = https://gist.github.com/aspose-words-Gists/Net/93de23a2f74a7f2e4971ed203874c983
