<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.7.30508.193" targetFramework="net472" />
  <package id="EnvDTE80" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CommandBars" version="16.7.30508.193" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="stdole" version="16.7.30508.193" targetFramework="net472" />
</packages>