@model HowToModel

@* HowTo Section *@
<div class="col-md-12 tl bg-darkgray howtolist" visible="false" runat="server">
    <div class="container tl dflex">
        <div class="col-md-4 howtosectiongfx">
            <img src="/img/howto.png" alt="HowTo">
        </div>
        <div class="howtosection col-md-8">
            <div>
                <h2>@Model.Title</h2>
                <ul>
                    @foreach (var el in Model.List)
                    {
                        <li>@el</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
