a.groupdocs {
	width: 270px;
	height: 50px;
	background: url(https://cms.admin.containerize.com/templates/groupdocs/images/logos/groupdocs-logo.png) no-repeat;
	margin-top: 5px
}

.admin_mGrid {
	padding: 0;
	border-radius: 4px !important;
	font-size: 16px;
	font-weight: 400;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto
}

	.admin_mGrid th {
		background: #006bb0;
		color: #fff;
		font-size: 18px;
		padding: 10px;
		text-align: left;
		font-weight: 400
	}

	.admin_mGrid td {
		font-size: 14px;
		padding: 10px;
		text-align: left
	}

		.admin_mGrid td:last-child {
			width: 10%
		}

		.admin_mGrid td input[type=text] {
			font-size: 14px;
			padding: 5px;
			text-align: left;
			width: 100%
		}

		.admin_mGrid td[colspan="4"] {
			background: #fefefe;
			color: #333 !important;
			padding: 18px 15px;
			border-radius: 4px !important;
			font-size: 18px;
			font-weight: 400;
			outline: 0 !important;
			box-shadow: 0 6px 1px -5px #666;
			border: 0 !important;
			width: 70%;
			margin: 25px auto
		}

		.admin_mGrid td select {
			font-size: 14px;
			padding: 5px;
			text-align: left;
			width: 100%
		}

	.admin_mGrid tr:nth-child(even) {
		background: #fff;
		color: #333
	}

	.admin_mGrid tr:nth-child(odd) {
		background: #e9e9e9;
		color: #333
	}

	.admin_mGrid tr:hover {
		background: #ddf5ff
	}

	.admin_mGrid tr {
		border-bottom: 1px solid #3c8ec7
	}

.btn.refresh-c {
	border-radius: 4px !important
}

.GroupDocsApps a:hover, .asposetools a:hover {
	opacity: .8
}

.GroupDocsApps, .asposetools {
	text-align: center;
	background: url(https://www.aspose.cloud/templates/asposeapp/images/bg/header-app.png) top center no-repeat;
	background-size: cover;
	padding: 40px 0
}

	.GroupDocsApps h1, .asposetools h1 {
		font-size: 45px;
		font-weight: 700;
		color: #fff
	}

.asposetools h2 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 5px;
}

    .GroupDocsApps h4, .asposetools h4 {
        color: #fff
    }

	.GroupDocsApps p, .asposetools p {
		font-size: 20px;
		font-weight: 400;
		color: #fff
	}

label.radio-inline {
    font-size: 16px;
    font-weight: 400;
    color: #fff
}

.pb-5, .pt-5 {
	padding-top: 40px;
	padding-bottom: 40px
}

.pb5 {
	padding-bottom: 50px
}

.filedrop {
	position: relative;
	width: 65%;
	border: 3px dashed #6dcff6 !important;
	padding: 30px 100px 30px;
	margin: 50px auto 30px;
	border-radius: 10px;
	box-shadow: 0 0 50px -20px #333;
	background: #fff;
	background-image: url(../img/fast-easy.png);
	background-repeat: no-repeat;
	background-position: center 25px;
	min-height: 140px;
}

	.filedrop input {
		width: 100%;
		opacity: 0;
		/* height: 100px; */
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0
	}

	.filedrop.filedrop-mvc input {
		cursor: pointer !important;
	}

	.filedrop label {
		width: 100%;
		font-size: 22px;
		font-weight: 400;
		margin-top: 40px;
	}
	.filedrop.filedrop-mvc label {
		margin-top: 0;
	}

.filedrop:hover label {
	opacity: .8
}

.filedrop a, .filedrop a label {
	font-size: 13px;
	color: #7f8b77;
	display: inline
}

.progress {
	margin-top: 30px
}

.fileupload {
	position: relative;
	z-index: 5
}

.filename {
	background: #e0f4d3;
	color: #7f8b77;
	padding: 10px 15px;
	border-radius: 6px;
	margin-top: 10px;
	display: inline-block
}

	.filename i {
		color: #cfad99
	}

filesendemail {
	width: 100%
}

.filesuccess {
	position: relative;
	width: 65%;
	border: 0 dashed #6dcff6 !important;
	padding: 50px 100px 50px;
	margin: 50px auto 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px -10px #333;
	background: #eff9e8
}

	.filesuccess label {
		width: 100%;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 20px
	}

.asposeDropdown, .saveas {
    margin: 0 10px;
    display: inline-block
}

    .asposeDropdown em, .saveas em {
        font-size: 24px;
        font-style: normal;
        margin-right: 10px;
        color: #fff
    }

    .btn-group > .btn:first-child,
    .asposeDropdown .asposeDropdownInner button,
    .saveas .saveformat button {
        background: #ebebeb;
        border: 1px solid #ccc;
        padding: 15px;
        font-size: 18px;
        color: #757575;
        border-radius: 4px !important;
        text-align: left;
        min-width: 200px;
        box-shadow: 0 6px 1px -5px #666
    }

        .btn-group > .btn:first-child:focus, .btn-group > .btn:first-child:hover,
        .asposeDropdown .asposeDropdownInner button:focus, .asposeDropdown .asposeDropdownInner button:hover,
        .saveas .saveformat button:focus, .saveas .saveformat button:hover {
            background: #3683b9;
            color: #fff;
            border-color: #3683b9;
        }

    .asposeDropdown .dropdown-toggle::after,
    .saveas .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        position: absolute;
        right: 10px;
        top: 25px
    }

    .asposeDropdown .open > .dropdown-menu,
    .saveas .open > .dropdown-menu {
        display: block;
        margin: 0 !important;
        background: #1fbae5 !important;
        padding: 10px
    }

        .asposeDropdown .open > .dropdown-menu a,
        .saveas .open > .dropdown-menu a {
            width: 100%;
            display: block;
            margin: 0;
            padding: 5px 15px;
            font-size: 16px !important;
            transition: 0s all ease-in-out !important;
            color: #fff
        }

            .asposeDropdown .open > .dropdown-menu a:last-child,
            .saveas .open > .dropdown-menu a:last-child {
                margin: 0
            }

            .asposeDropdown .open > .dropdown-menu a:hover,
            .saveas .open > .dropdown-menu a:hover {
                cursor: pointer;
                color: #fff;
                background: #0d5aa3 !important;
                opacity: 1 !important
            }

.asposeDropdownInner.dropdown:not(.open) .dropdown-menu, .asposeDropdownInner.dropdown .dropdown-menu::before, .asposeDropdownInner.dropdown .dropdown-menu::after,
.saveformat.dropdown:not(.open) .dropdown-menu, .saveformat.dropdown .dropdown-menu::before, .saveformat.dropdown .dropdown-menu::after {
    display: none;
}

.asposeDropdownInner.dropdown button.dropdown-toggle,
.saveformat.dropdown button.dropdown-toggle {
    position: relative;
}

.asposeDropdownInner.dropdown button.dropdown-toggle::before,
.saveformat.dropdown button.dropdown-toggle::before {
    content: '\f0d7';
    position: absolute;
    right: 15px;
    top: 17px;
    font-family: Fontawesome;
    color: #fff;
    font-size: 12px;
    z-index: 1;
}

.convertbtn, asposeButton {
    display: inline-block;
}

.asposeButton .btn,
.convertbtn .btn {
    background: #65c621;
    color: #fff;
    padding: 10px 70px;
    border-radius: 4px !important;
    font-size: 18px;
    font-weight: 400;
    outline: 0 !important;
    box-shadow: 0 6px 1px -5px #666;
    border: 0 !important;
}

    .asposeButton .btn:hover,
    .convertbtn .btn:hover {
        opacity: .8
    }

.dropzone .dz-preview .dz-image {
	display: none !important
}

.dropzone .dz-preview .dz-details {
	opacity: 1 !important;
	padding: 0 1em !important
}

.dropzone .dz-preview {
	width: 100%
}

	.dropzone .dz-preview .dz-progress {
		opacity: 1 !important;
		z-index: 1 !important;
		pointer-events: none !important;
		position: static !important;
		height: 16px !important;
		left: inherit !important;
		top: inherit !important;
		margin: 20px auto !important;
		width: 70% !important;
		margin-left: inherit !important;
		border-radius: 4px !important;
		display: inline-block !important
	}

	.dropzone .dz-preview .dz-details {
		position: relative !important
	}

.dropzone .dz-filename, .dropzone .dz-filename span {
	background: #e0f4d3 !important;
	padding: 5px !important;
	display: table;
	margin: 0 auto;
	border: 0 !important
}

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone .dz-preview.dz-error .dz-error-message {
	display: none !important
}

.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite
}

.sendemail {
	display: table;
	margin: 0 auto
}

	.sendemail .bg-primary {
		background: #1a89d0;
		color: #fff
	}

.brdr-spacer {
	margin: 00px 0 30px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eaeaea
}

.productsrow .col-lg-4 {
	margin-bottom: 30px
}

	.productsrow .col-lg-4:nth-child(4) {
		display: block;
		clear: left
	}

.container-fluid.relatedlinks {
	background-color: #333;
	padding: 3% 0 !important;
	color: #efefef;
	background-image: url(https://www.aspose.com/homepage/img/bg/footer-bg.png);
	background-repeat: repeat;
	background-position: 0 bottom;
	display: block;
	clear: both
}

.relatedlinks ul {
	list-style-type: none;
	float: left;
	padding: 0
}

	.relatedlinks ul a {
		font-size: 13px;
		color: #999
	}

		.relatedlinks ul a:hover {
			color: #eee
		}

.row {
	margin: 0 !important
}

.con-featureslist ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}

	.con-featureslist ul li {
		margin-bottom: 5px
	}

.con-featureslist span {
	display: inline;
	float: left;
	margin-left: 10px;
	text-align: left
}

.con-featureslist h3 {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase
}

.circle-features {
	display: inline;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	width: 70px;
	height: 70px;
	transition: .4s all ease-in-out;
	transform: scale(1);
	float: left
}

.bgwrapanim {
	transform: scale(1);
	opacity: .9
}

.con-featureslist .col-md-3:hover .circle-features {
	transform: scale(1.1);
	transition: .4s all ease-in-out
}

.features-bg1 {
	background: #64d79c
}

.features-bg2 {
	background: #a1c8e7
}

.features-bg3 {
	background: #d48068
}

.features-bg4 {
	background: #e4d6ed
}

.circle-features img {
	vertical-align: top
}

.imageanim {
	position: relative;
	margin: 0 auto;
	display: inline-table
}

	.imageanim .from {
		position: absolute;
		left: -170px;
		top: 60px;
		animation: moveleft 5.3s infinite
	}

	.imageanim .to {
		position: absolute;
		right: -150px;
		top: 60px;
		animation: moveright 5.5s infinite
	}

@keyframes rotatecircle {
	0% {
		transform: rotate(0);
		transition: .2s all linear
	}

	100% {
		transform: rotate(360deg);
		transition: .2s all linear
	}
}

@keyframes moveleft {
	0% {
		left: -50px;
		opacity: 0;
		transform: scale(.8);
		transition: .4s all ease-in-out
	}

	10% {
		left: -20px;
		opacity: 1;
		transform: scale(1);
		transition: .4s all ease-in-out
	}

	100% {
		left: 120px;
		opacity: 0;
		transition: .4s all ease-in-out
	}
}

@keyframes moveright {
	0% {
		right: -50px;
		opacity: 0;
		transform: scale(.8);
		transition: .4s all ease-in-out
	}

	10% {
		right: -20px;
		opacity: 1;
		transform: scale(1);
		transition: .4s all ease-in-out
	}

	100% {
		right: 120px;
		opacity: 0;
		transition: .4s all ease-in-out
	}
}

@keyframes pulsescale {
	0% {
		transform: scale(1);
		transition: .4s all ease-in-out
	}

	50% {
		transform: scale(.9);
		transition: .4s all ease-in-out
	}

	51% {
		transform: scale(.9);
		transition: .4s all ease-in-out
	}

	100% {
		transform: scale(1);
		transition: .4s all ease-in-out
	}
}

#pMessage {
	position: absolute;
	bottom: 160px;
	left: 20%;
	font-size: 13px
}

#ValidateFileType, #ctl00_MainContent_ValidateFileType, #ctl00_MainContent_rfvFile {
	font-size: 13px;
	background: #f2dede;
	color: #a94442;
	padding: 10px;
	margin: 10px;
	border-radius: 4px
}

.fileformatsico {
	position: absolute;
	display: inline-table;
	margin: 0 auto;
	width: 100%;
	left: 0;
	margin-top: -30px
}

	.fileformatsico img {
		transform: rotate(-35deg);
		margin: 0 20px;
		display: inline-block;
		transition: .3s all ease-in-out
	}

.filename i {
	cursor: pointer
}

.refresh-c:hover i {
	animation: rotatecircle infinite linear 3s
}

.con-featureslist {
	text-align: center !important
}

	.con-featureslist .col-md-12 {
		display: flex;
		align-items: center;
		margin-bottom: 20px
	}

.app-tabs-menu {
	background: #2f6f99;
	color: #fff;
	z-index: 0 !important
}

	.app-tabs-menu ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		display: table
	}

		.app-tabs-menu ul li {
			display: inline
		}

			.app-tabs-menu ul li a {
				font-size: 16px;
				font-weight: 700;
				padding: 15px;
				color: #fff;
				display: inline-block
			}

				.app-tabs-menu ul li a.active {
					background: #3c8ec7 !important
				}

				.app-tabs-menu ul li a:focus, .app-tabs-menu ul li a:hover {
					background: #3683b9
				}

.app-product-section {
	background: #b4b4b4
}

    .app-product-section.tl h3, .app-product-section.tl h2, .app-product-section.tl li {
        text-align: left
    }

    .app-product-section h3, .app-product-section.tl h2 {
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        margin: 0
    }

	.app-product-section ul {
		margin: 0;
		padding: 20px
	}

	.app-product-section li {
		font-size: 20px;
		color: #fff;
		font-weight: 400
	}

.app-features-section h4 {
	font-weight: 700;
	font-size: 18px;
	color: #333
}

.app-features-section p {
	font-weight: 100;
	font-size: 16px;
	padding: 0 10px;
	color: #666
}

.app-features-section .imgcircle {
	width: 72px;
	height: 72px;
	display: table;
	margin: 0 auto 30px;
	border-radius: 100%;
	padding: 10px 10px;
	line-height: 50px
}

	.app-features-section .imgcircle img {
		opacity: .8
	}

	.app-features-section .imgcircle.fasteasy {
		background: #64d79c
	}

	.app-features-section .imgcircle.anywhere {
		background: #a1c8e7
	}

	.app-features-section .imgcircle.quality {
		padding-top: 13px;
		background: #e4d6ed
	}

	.app-features-section .imgcircle.dsr {
        padding-top: 8px;
        padding-left: 11px;
        background: #f8d836;
    }

    .app-features-section .imgcircle.rotation {
        padding-top: 8px;
        padding-left: 11px;
        background: #CA895F;
    }

    .app-features-section .imgcircle.fast {
        padding-top: 7px;
        padding-left: 12px;
        background: #f3e1a7;
    }

.swiper-button-next, .swiper-button-prev {
	display: none
}

.appfamily-header.header2 {
	height: inherit
}

.appfamily-header.minify-header h1 {
	font-size: 35px
}

.appfamily-header.minify-header ul {
	margin-top: 25px
}

.appfamily-header.minify-header li {
	font-size: 20px
}

.productfamilypage .productfamily_box:hover .applist {
	height: inherit !important;
	opacity: 1;
	visibility: visible;
	padding: 5px 0 25px 35px;
	transition: .1s ease-in-out all;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	box-shadow: 0 10px 20px -7px #ddd
}

.applist {
	height: 0 !important;
	padding: 15px 0 15px 35px;
	opacity: 0;
	visibility: hidden;
	left: -1px;
	position: absolute;
	background: #fff;
	color: #333;
	width: 100.7%;
	margin: 0;
	list-style-type: disc;
	border-radius: 0;
	z-index: 99;
	top: 80px
}

	.applist li a {
		padding: 3px 0;
		color: #333;
		display: block;
		font-size: 14px
	}

		.applist li a:hover {
			color: #3b8bc2;
			text-decoration: underline !important
		}

.watermark {
	width: 100%;
	display: table;
	margin: 0 auto 30px
}

	.watermark textarea {
		background: #fefefe;
		border: 1px solid #ccc;
		padding: 15px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 40%;
		max-width: 720px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666;
		display: inline;
		vertical-align: top
	}

.btn-wm {
	background: #2f6f99;
	color: #fff;
	padding: 18px 20px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: 400;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #18415c;
	border: 0 !important;
	display: inline
}

.GroupDocsApps p.alert-danger, .asposetools p.alert-danger {
	color: #a94442;
	font-size: 13px;
	display: table;
	margin: 0 auto 30px
}

.norecords {
	background: #fefefe;
	color: #333 !important;
	padding: 18px 15px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: 400;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto
}

table.metarecode {
	padding: 0;
	border-radius: 4px !important;
	font-size: 16px;
	font-weight: 400;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666;
	border: 0 !important;
	width: 70%;
	margin: 25px auto
}

	table.metarecode th {
		background: #006bb0;
		color: #fff;
		font-size: 18px;
		padding: 10px;
		text-align: left;
		font-weight: 400
	}

	table.metarecode td {
		width: 45%
	}

		table.metarecode td:last-child {
			width: 10%
		}

	table.metarecode td {
		font-size: 14px;
		padding: 10px;
		text-align: left
	}

	table.metarecode tr:nth-child(even) {
		background: #fff;
		color: #333
	}

	table.metarecode tr:nth-child(odd) {
		background: #e9e9e9;
		color: #333
	}

	table.metarecode tr:hover {
		background: #ddf5ff
	}

	table.metarecode tr {
		border-bottom: 1px solid #3c8ec7
	}

	table.metarecode td input[type=text] {
		font-size: 14px;
		padding: 5px;
		text-align: left;
		width: 100%
	}

.meta-ico {
	background: url(../img/sprite_meta.png) 0 -5px no-repeat transparent;
	width: 24px;
	height: 22px;
	display: inline-block
}

.ico-edit {
	background-position: 0 -30px
}

.ico-delete {
	background-position: 0 -5px
}

.ico-cancel {
	background-position: 0 -106px
}

.ico-update {
	background-position: 0 -80px
}

.meta-add {
	margin-bottom: 15px
}

	.meta-add table {
		border-spacing: 4px;
		border-collapse: unset
	}

	.meta-add input[type=text] {
		background: #fefefe;
		border: 1px solid #ccc;
		padding: 18px 10px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 190px;
		max-width: 190px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666;
		display: inline;
		vertical-align: top;
		margin-bottom: 0
	}

	.meta-add select {
		background: #fefefe;
		border: 1px solid #ccc;
		padding: 18px 10px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-width: 190px;
		max-width: 190px;
		max-height: 200px;
		max-height: 60px;
		box-shadow: 0 6px 1px -5px #666;
		display: inline;
		vertical-align: top;
		margin-bottom: 0
	}

.btn-record {
	background: #65c621;
	color: #fff;
	padding: 17px 35px;
	border-radius: 4px !important;
	font-size: 18px;
	font-weight: 400;
	outline: 0 !important;
	box-shadow: 0 6px 1px -5px #666;
	border: 0 !important
}

.box-center {
	margin: 0 auto 20px auto !important;
	display: block !important;
	float: none !important
}

.asposeptyltdcontent h3 {
	text-align: center;
	padding: 50px 30px 0;
	width: 40%;
	display: table;
	margin: 0 auto
}

.asposeptyltd .footerbottom {
	position: fixed;
	bottom: 0
}

.footer2text p:first-letter {
	display: none !important
}

.static_header.header3.filefomatheader {
	background: url(https://www.aspose.cloud/templates/asposeapp/images/bg/header-app.png) top center no-repeat #439cda;
	background-size: cover;
	opacity: 1;
	min-height: 507px
}

	.static_header.header3.filefomatheader .headertitle h1 {
		margin-top: 100px !important
	}

.asposeptyltd.filefomatlogo .productsrow2 .productbox h6 {
	font-size: 13px;
	line-height: 26px
}

.iconformats {
	position: relative;
	display: none
}

	.iconformats img {
		transition: .3s all ease-in-out
	}

	.iconformats img {
		position: absolute;
		opacity: .8
	}

		.iconformats img:nth-child(1) {
			left: 15% !important;
			margin-top: 2%
		}

		.iconformats img:nth-child(2) {
			left: 26%;
			margin-top: 8%
		}

		.iconformats img:nth-child(3) {
			left: 18%;
			margin-top: 15%
		}

		.iconformats img:nth-child(4) {
			left: 34%;
			margin-top: 3%
		}

		.iconformats img:nth-child(5) {
			left: 36%;
			margin-top: 15%
		}

		.iconformats img:nth-child(6) {
			right: 15% !important;
			margin-top: 2%
		}

		.iconformats img:nth-child(7) {
			right: 26%;
			margin-top: 8%
		}

		.iconformats img:nth-child(8) {
			right: 18%;
			margin-top: 15%
		}

		.iconformats img:nth-child(9) {
			right: 34%;
			margin-top: 3%
		}

		.iconformats img:nth-child(10) {
			right: 36%;
			margin-top: 15%
		}

.productsrow2 .productbox.notext, .productsrow2 .productbox.notext h6 {
	min-height: inherit !important
}

.con-featureslist p {
	font-size: 14px
}

.app-tabs-menu {
	text-align: center
}

.topheadermenus .menuallapp {
	display: none;
	padding: 20px 10px
}

.topheadermenus li:hover .menuallapp {
	display: block;
	background: #222;
	color: #fff;
	position: absolute;
	width: 80%;
	left: 10%
}

.topheadermenus .menuallapp span {
	width: 20%;
	float: left;
	margin-bottom: 20px
}

	.topheadermenus .menuallapp span h3 {
		display: block;
		margin: 0;
		font-size: 12px;
		text-transform: uppercase;
		color: #7c7c7c !important;
		font-weight: 700;
		padding: 5px 15px;
		text-transform: uppercase
	}

	.topheadermenus .menuallapp span a {
		padding: 5px 15px;
		margin: 0;
		font-size: 13px;
		line-height: inherit;
		color: #fff !important
	}

		.topheadermenus .menuallapp span a:hover {
			background: 0 0;
			color: #3d8ec4 !important
		}

.groupfields {
	width: 65%;
	margin: 0 auto
}

	.groupfields input[type=text] {
		display: inline-block;
		width: 49%;
		float: left;
		padding: 15px;
		border-radius: 4px;
		border: 0;
		box-shadow: 0 6px 1px -5px #666;
		margin-bottom: 15px;
		height: inherit
	}

		.groupfields input[type=text]:last-child {
			display: inline-block;
			width: 49%;
			float: right
		}

.siteContentPanel100w.familypage .productfamilypage .productfamily_box {
	min-height: 190px !important
}

.productfamilypage .productfamily_box {
	min-height: 160px !important
}

.productfamilyheader .row.pt-lg-5 {
	margin: 0 -15px !important
}

.header1.header2.minify-header {
	background: url(https://www.aspose.cloud/templates/asposeapp/images/bg/header-app.png) top center no-repeat #439cda
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-group > .btn:first-child:focus,
.btn-group > .btn:first-child:hover,
.asposeDropdown .asposeDropdownInner button:focus,
.asposeDropdown .asposeDropdownInner button:hover,
.saveas .saveformat button:focus,
.saveas .saveformat button:hover,
.show > .btn-danger.dropdown-toggle,
.show > .btn-danger.dropdown-toggle:focus {
    background: #3071a9;
    color: #fff;
    border-color: #3683b9
}

.appfeaturesectionlist {
	padding: 80px 0
}

	.appfeaturesectionlist p {
		font-size: 16px
	}

.cardbox {
	box-shadow: 0 3px 20px -20px #666;
	min-height: 280px;
	padding: 20px 30px;
	color: #333;
	background: #fefefe;
}

	.cardbox.b6 {
		border-radius: 6px !important
	}

	.cardbox:first-child {
		background: #fefefe;
		border-radius: 6px 0 0 6px
	}

	.cardbox:last-child {
		background: #fefefe;
		border-radius: 0 6px 6px 0
	}

	.cardbox em {
		display: block;
		font-size: 16px;
		font-style: normal;
		margin-bottom: 10px
	}

	.cardbox li, .cardbox p {
		font-size: 15px;
		color: #333;
		margin-top: 15px
	}

	.cardbox span {
		margin-top: 24px;
		display: block;
		font-size: 18px;
		font-weight: 600
	}

.icofile::before {
	width: 20px;
	height: 9px;
	background: 0 0;
	border-top: 2px solid #333;
	border-radius: 0;
	position: absolute;
	content: '';
	z-index: 0;
	left: 22px;
	top: -15px;
	border-bottom: 2px solid #333
}

.icofile::after {
	width: 45px;
	height: 55px;
	background: 0 0;
	border: 2px solid #333;
	border-radius: 4px;
	position: absolute;
	content: '';
	z-index: 0;
	left: 10px;
	top: -30px
}

em.icofile {
	font-size: 12px;
	font-weight: 700;
	z-index: 1;
	color: #fff;
	display: table;
	min-width: 45px;
	position: relative;
	margin: 40px auto 0;
	max-width: 45px;
	left: -15px
}

	em.icofile b {
		background: #ec971f;
		padding: 3px 5px;
		z-index: 99999;
		position: relative;
		overflow: hidden;
		max-width: 70px;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block
	}

.cardbox .btn-success {
	background: #dc4342;
	border-radius: 0;
	font-size: 13px;
	border: 0
}

	.cardbox .btn-success:hover {
		background: #c9302c
	}

.d-flex {
	display: flex
}

.d-wrap {
	flex-flow: wrap
}

.filedesc {
	margin: 0 auto 20px
}

	.filedesc h2 {
		margin: 0 0 15px
	}

.asposeDropdown.w100, .saveas.w100 {
    display: table;
    margin: 0 auto 30px auto
}

.saveas .savefilebox select, .savefilebox div, .savefilebox option {
	font-size: 15px
}

.saveas .savefilebox, .selectformat {
	display: inline-block
}

.selectformat {
	float: left
}

	.selectformat .dropdownmenu {
		display: inline-block;
		cursor: pointer
	}

	.saveas .savefilebox .btn:hover, .selectformat .dropdownBtn:hover {
		background: #0d5aa3;
		color: #fff;
		border-color: #0d5aa3
	}

.dropdownmenu-content {
	border: 0 !important
}

.selectformat .dropdownmenu ul {
	background: #1a5982;
	border: 0;
	color: #fff;
	padding: 0;
	margin: 0
}

	.selectformat .dropdownmenu ul li {
		padding: 6px 20px;
		margin: 0;
		list-style-type: none
	}

	.selectformat .dropdownmenu ul ul {
		background: #194b6b
	}

.asposeDropdown .asposeDropdownInner button,
.saveas .savefilebox select.btn,
.saveas .saveformat button,
.selectformat .dropdownBtn {
    background: #2072a7;
    color: #fff;
    border: 0;
    box-shadow: none;
    padding: 10px 15px;
    display: table;
    margin: 0;
    width: inherit;
    z-index: 0 !important
}

.selectformat .dropdownBtn {
	margin-right: 10px
}

.asposeDropdown em, .saveas em {
    font-size: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #fff
}

.selectformat .dropdownmenu ul li:hover {
	background: #1fbae5
}

.selectformat .dropdownmenu ul li {
	position: relative
}

	.selectformat .dropdownmenu ul li ul {
		display: none !important;
		position: absolute;
		left: 200px;
		top: 0
	}

	.selectformat .dropdownmenu ul li:hover ul {
		display: block !important
	}

	.selectformat .dropdownmenu ul li:after {
		content: '\f105';
		position: absolute;
		right: 10px;
		top: 5px;
		font-family: Fontawesome
	}

	.selectformat #searchDropdown li:after, .selectformat .dropdownmenu ul li li:after {
		display: none
	}

.asposeDropdownInner select,
.saveformat select {
    -webkit-appearance: none;
    appearance: none;
    position: relative
}

.btn-group.asposeDropdownInner,
.btn-group.saveformat {
    position: relative
}

    .btn-group.asposeDropdownInner:after,
    .btn-group.saveformat:after {
        content: "\f0d7";
        position: absolute;
        right: 15px;
        top: 17px;
        font-family: Fontawesome;
        color: #fff;
        font-size: 12px;
        z-index: 1
		pointer-events: none;
    }

.selectformat i {
	font-size: 12px;
	margin-left: 15px
}

.menuCls {
	max-height: 250px !important;
	box-shadow: 0 30px 50px -40px #333
}

	.menuCls::-webkit-scrollbar, .savefilebox .btn::-webkit-scrollbar, body::-webkit-scrollbar {
		width: .5em
	}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

body::-webkit-scrollbar-thumb {
	background-color: #a9a9a9;
	outline: 1px solid #708090
}

.d-flex-order2 {
	order: 2
}

.d-flex-center {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center
}

.appvideo {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.howtolist .dflex {
	display: flex;
	align-content: center;
	justify-content: center
}

.howtolist .howtosection {
	display: flex;
	align-content: center;
	justify-content: left
}

.howtolist .howtosectiongfx {
	display: grid;
	align-content: center;
	justify-content: flex-end;
	order: 2
}

.howtolist ul {
	list-style-type: none;
	margin: 25px 0 0 16px;
	padding: 0 0 0 30px
}

.howtolist li {
	margin-right: 0 !important;
	line-height: 30px;
	position: relative;
	margin-bottom: 10px
}

	.howtolist li:before {
		content: '';
		position: absolute;
		left: -30px;
		top: 5px;
		display: block;
		background: #006bb0;
		width: 20px;
		height: 20px;
		color: #fff;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
		font-weight: 700;
		border-radius: 4px
	}

	.howtolist li:nth-child(1):before {
		content: '1'
	}

	.howtolist li:nth-child(2):before {
		content: '2'
	}

	.howtolist li:nth-child(3):before {
		content: '3'
	}

	.howtolist li:nth-child(4):before {
		content: '4'
	}

	.howtolist li:nth-child(5):before {
		content: '5'
	}

	.howtolist li:nth-child(6):before {
		content: '6'
	}

	.howtolist li:nth-child(7):before {
		content: '7'
	}

	.howtolist li:nth-child(8):before {
		content: '8'
	}

	.howtolist li:nth-child(9):before {
		content: '9'
	}

	.howtolist li:nth-child(10):before {
		content: '10'
	}

.howtolist.bg-darkgray {
	background: #fbfbfb;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #eaeaea
}

.howtosection {
	display: inline-block;
	margin: 0 auto
}

.howtosection h3 {
    font-size: 18px;
}

.asposeDropdown .dropdown-toggle::after,
.saveas .dropdown-toggle::after {
	display: none
}

.diagram1 {
	padding-bottom: 0 !important
}

	.diagram1 .d1-left > UL, .diagram1 .d1-right > UL {
		margin-bottom: 0 !important
	}

.text-white {
	color: #fff !important
}

.diagram1 .d1-logo {
	z-index: 0
}

.bg-gray-darker {
	background: #b4b4b4 !important
}

@media(max-width:1024px) {
	.diagram1 .d1-left > UL, .diagram1 .d1-right > UL {
		margin-bottom: 30px !important
	}

	.appfamily-header.minify-header ul {
		list-style-type: none
	}

	.productfamilypage .productfamily_box em, .productfamilypage .productfamily_box li {
		text-align: left
	}

	.swiper-button-next, .swiper-button-prev {
		display: none
	}

	.app-product-section.tl .col-md-3 {
		float: left !important
	}

		.app-product-section.tl .col-md-3 img {
			width: 100%
		}

	.box-center.emptybox {
		display: none
	}

	.productsrow .col-lg-4:nth-child(4) {
		display: block;
		clear: none
	}

	.productsrow .col-lg-3, .productsrow .col-lg-4 {
		float: left
	}

	.relatedlinks ul {
		text-align: left
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .content2 .box1 blockquote footer, .content2 .box1 h6 {
		text-align: center !important
	}

	.con-featureslist .col-md-3 {
		width: 20%;
		max-width: 20%;
		display: inline-block
	}

	.emptydiv, .iconsection {
		display: none !important
	}

	.topheader .menuitems {
		margin-left: 0;
		height: inherit
	}

	.static_header.header3.filefomatheader {
		min-height: auto !important;
		height: inherit !important
	}

	.col-lg-2 {
		width: 16.66666667%
	}

	.col-lg-2, .col-lg-4 {
		float: left
	}

	.topheadermenus .menuallapp span {
		width: 100%
	}

		.topheadermenus .menuallapp span h3 {
			display: none
		}

	.iconsection {
		display: block !important
	}

	.static_header.header3.filefomatheader {
		padding-bottom: 0
	}

	.iconformats ~ img {
		width: 100% !important
	}

	.footercol .socialicon ul li {
		width: inherit !important
	}

	.GroupDocsApps h1, .asposetools h1 {
		font-size: 35px;
		font-weight: 600;
		color: #fff
	}

	.app-product-section h3 {
		font-size: 30px
	}

	.howtolist li {
		text-align: left
	}
}

@media(max-width:768px) {
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .content2 .box1 blockquote footer, .content2 .box1 h6 {
		width: 100%
	}

	.watermark textarea {
		width: 100%;
		display: block;
		clear: both;
		min-width: 100%;
		margin: 0 auto 20px
	}

	.relatedlinks ul:last-child {
		margin-left: 0 !important
	}

	.app-product-section.tl .col-md-3, .app-product-section.tl .col-md-9 {
		float: none !important;
		display: table;
		margin: 0 auto 20px
	}

		.app-product-section.tl .col-md-3 img {
			width: 100%
		}

	.spacer2 {
		margin-bottom: 50px;
		clear: both;
		display: block
	}

	.con-featureslist .col-md-1.pull-left {
		clear: both;
		display: block
	}

	.con-featureslist .col-md-12, .con-featureslist .col-md-5 {
		display: block;
		align-items: center;
		margin-bottom: 0;
		clear: both;
		width: 100%
	}

	.circle-features, .con-featureslist span {
		float: none;
		text-align: center !important;
		margin-bottom: 20px;
		display: block
	}

	.con-featureslist .col-md-3 {
		width: 45%;
		max-width: 45%;
		display: inline-block;
		margin-bottom: 20px
	}

	.filedrop label, .filesuccess label, .fileupload label {
		font-size: 20px
	}

	.col-lg-2 {
		width: 95% !important
	}

	.asposeptyltdcontent h3 {
		text-align: center;
		padding: 50px 10px 0;
		width: 100%;
		display: table;
		margin: 0 auto
	}

	.asposeptyltdcontent {
		padding: 0 20px 30px;
		text-align: center
	}

	.static_header.header3.filefomatheader .headertext {
		margin-top: 40px !important
	}

	.static_header.header3.filefomatheader .headertitle h1 {
		margin-top: 50px !important
	}

	.static_header.header3 .headertitle h4 {
		width: 70%;
		margin: 0 auto;
		text-align: center;
		font-weight: 400;
		text-shadow: none;
		font-size: 22px !important;
		line-height: 1.5;
		margin: 25px 0;
		color: #fafafa
	}

	.static_header.header3.filefomatheader .headertitle h1 {
		margin-top: 2% !important
	}

	.filedrop {
		margin: 30px auto 30px;
		background-position: center 10px
	}

	.GroupDocsApps h4, .asposetools h4 {
		font-weight: 400;
		text-shadow: none;
		font-size: 22px !important;
		line-height: 1.5;
		margin: 25px 0;
		color: #fafafa
	}

	.cardbox {
		background: #fcfcfc !important;
		border-radius: 0 !important;
		max-width: 49%;
		flex: 49%;
		display: inline-block;
		padding-top: 50px;
		padding-bottom: 50px
	}

	.d-flex.d-wrap {
		display: block !important;
		z-index: 1;
		padding: 0;
		margin-bottom: 50px
	}

	.howtolist .howtosection {
		display: table !important;
		align-content: center;
		justify-content: left;
		margin-top: 30px !important
	}

	.howtolist .howtosectiongfx {
		order: 1
	}

	.howtolist .dflex, .howtolist .howtosectiongfx {
		display: block
	}

	.howtolist ul {
		list-style-type: none;
		margin: 25px 0 0;
		padding: 0
	}

	.howtolist li {
		line-height: 26px;
		text-align: left;
		width: 40%;
		margin: 0 0 20px;
		padding: 0 35px 0 0;
		display: inline-block;
		text-indent: 30px
	}

	.app-product-section li {
		font-size: 18px
	}

	.fa.fa-question-circle {
		display: none
	}

	.howtolist li:before {
		content: '';
		position: absolute;
		left: 0;
		top: 5px;
		display: block;
		background: #006bb0;
		width: 20px;
		height: 20px;
		color: #fff;
		text-align: center;
		line-height: 20px;
		text-indent: 0;
		font-size: 12px;
		font-weight: 700;
		border-radius: 4px
	}
}

@media(max-width:668px) {
	.pdb-5 {
		padding-bottom: 50px
	}

	.productfamilypage .productfamily_box .applist {
		left: 0;
		position: static;
		opacity: 1 !important;
		height: inherit !important;
		visibility: visible
	}

	.productfamilypage .productfamily_box:hover .applist {
		border: 0 !important;
		box-shadow: none !important;
		padding: 15px 0 15px 35px !important
	}

	.swiper-button-next, .swiper-button-prev {
		display: block
	}

	.container-fluid.relatedlinks {
		padding-bottom: 100px !important
	}

	.swiper-button-next, .swiper-button-prev {
		width: 30px !important;
		height: 20px !important;
		top: 70% !important;
		outline: 0 !important
	}

	.app-tabs-menu ul {
		display: flex
	}

		.app-tabs-menu ul a {
			font-size: 13px !important
		}

    .btn-group.asposeDropdownInner,
    .btn-group.saveformat {
        float: left;
        margin-bottom: 20px;
        margin-top: -10px;
        width: 100%
    }

    .asposeDropdown, .saveas {
        margin: 0 !important;
        display: block;
        width: 100%
    }

	.app-product-section {
		padding: 15px !important
	}

		.app-product-section.tl h3, .app-product-section.tl li {
			text-align: center !important
		}

		.app-product-section h3 {
			font-size: 36px
		}

		.app-product-section li {
			font-size: 16px
		}

		.app-product-section ul {
			list-style-type: none
		}

	.app-features-section {
		padding: 50px 0 !important
	}

	.relatedlinks ul:last-child {
		margin-left: 20px !important
	}

	.relatedlinks h5 {
		font-size: 13px !important
	}

	.app-tabs-menu ul li {
		text-align: center
	}

	.filedrop label {
		padding: 10px
	}

	.con-featureslist .col-md-3 {
		width: 100%;
		max-width: 100%;
		display: inline-block
	}

	.container-fluid.relatedlinks {
		background-image: none
	}

	.relatedlinks ul {
		list-style-type: none;
		float: left;
		display: table;
		width: 40%;
		margin: 0 0 0 20px !important;
		padding: 0;
		text-align: left
	}

	.con-featureslist ul li {
		font-size: 12px
	}

	.pb-5, .pt-5 {
		padding: 0 20px
	}

	.filedrop, .filesuccess, .fileupload {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px
	}

	.groupfields {
		width: 100%;
		margin: 0 auto
	}

	.smallspacer, .spacer {
		display: block
	}

	.rawHeaders {
		width: 100%
	}

	.GroupDocsApps h1, .asposetools h1 {
		font-size: 35px;
		font-weight: 700;
		color: #fff;
		margin-top: 0
	}

	.GroupDocsApps, .asposetools {
		padding-bottom: 0 !important
	}

	.h2title, .h2title-white {
		font-size: 22px !important
	}

	.diagram1 .d1-left UL, .diagram1 .d1-right UL {
		padding-left: 20px
	}

	.selectformat {
		float: left;
		width: 100%;
		display: block
	}

		.selectformat .dropdownmenu {
			display: block;
			cursor: pointer;
			width: 100%;
			margin-bottom: 20px
		}

		.saveas .savefilebox select.btn, .selectformat .dropdownBtn {
			padding: 20px 15px
		}

    .btn-group.asposeDropdownInner,
    .btn-group.saveformat {
        margin-top: 0
    }

	.d-flex-center {
		display: block !important
	}

	.app-product-section.tl .col-md-3, .app-product-section.tl .col-md-9 {
		max-width: 100%;
		flex: none
	}

	.d-flex.d-wrap {
		padding: 40px 0 40px !important;
		margin-bottom: 50px;
		background: #fcfcfc !important;
		box-shadow: none
	}

	.cardbox li, .cardbox p, .cardbox:first-child {
		margin-bottom: 0 !important
	}

	.cardbox {
		display: table-cell
	}

	.col-md-4.cardbox {
		display: block !important;
	}

	em.icofile {
		left: -10px
	}

	.cardbox {
		max-width: 100%;
		flex: 100%;
		padding-top: 0;
		padding-bottom: 0;
		box-shadow: none
	}

		.cardbox:first-child {
			margin-bottom: 20px
		}

	.howtolist ul {
		width: 100%
	}

	.app-features-section p {
		padding: 0 20px
	}

	.howtolist .howtosection {
		padding: 0 25px
	}

	.howtolist li {
		line-height: 26px;
		text-align: center;
		width: 100%;
		margin: 0 0 20px;
		padding: 0;
		display: inline-block;
		text-indent: 0
	}

		.howtolist li:before {
			position: static;
			text-align: center;
			clear: both;
			margin: 0 auto 15px
		}

	.selectformat i {
		position: absolute;
		right: 18px
	}

	.selectformat .dropdownmenu ul li ul {
		position: static;
		left: 0;
		top: 0;
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: 100%
	}

	.dropdownmenu-content, .selectformat .dropdownmenu ul {
		min-width: 100% !important;
		max-width: 100% !important;
		width: 100% !important
	}

		.selectformat .dropdownmenu ul li {
			padding: 10px 20px
		}

			.selectformat .dropdownmenu ul li:after {
				content: '\f107'
			}

	#searchMenuText {
		width: 100%;
		max-width: 100%
	}

	.selectext {
		display: none !important
	}

    .asposeDropdown em,
    .saveas em {
        font-size: 20px;
        font-style: normal;
        margin: 0 0 15px;
        color: #fff;
        display: block
    }

	.saveas .savefilebox, .selectformat {
		display: block;
		width: 100%
	}
}

@media(max-width:640px) {
	.groupfields input {
		width: 100% !important;
		margin: 0 auto
	}
}

.asposeDropdown .open > .dropdown-menu:before,
.saveas .open > .dropdown-menu:before {
    border-bottom-color: #1fbae5
}

.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
	background: #0d5aa3 !important
}

.asposeDropdown .open > .dropdown-menu,
.saveas .open > .dropdown-menu {
    width: 100%
}

.selectformat .dropdownBtn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.alert {
	display: table;
	margin: 0 auto;
	font-size: 14px !important;
	background: none !important;
	color: #FFFFFF !important;
}

.progress {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.alert-danger {
	background-color: #f30 !important;
}

.filedrop.fileplacement {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	box-sizing: border-box;
}

	.filedrop.fileplacement > .fileupload {
		display: inline-block;
		margin-top: 10px;
	}

		.filedrop.fileplacement > .fileupload > .filename {
			margin-top: 0;
		}

			.filedrop.fileplacement > .fileupload > .filename i.fa-arrow-up,
			.filedrop.fileplacement > .fileupload > .filename i.fa-arrow-down {
				color: rgba(40, 167, 69, 0.4);
			}

.search {
	margin: 50px auto 50px;
	position: relative;
	width: 65%;
}

	.search input[type=text] {
		position: relative;
		width: 100%;
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 18px 10px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: middle;
		margin-bottom: 0px;
	}


.errorAndLoader {
    width: 65%;
    margin: 0px auto 0px;
    min-width: 355px;
}

.viewerMSProjectOnlineSource {
    width: 65%;
    margin: 50px auto 0px;
    min-width: 355px;
}

.viewerMSProjectDomainAddressInput {
    width: 100%;
}
    .viewerMSProjectDomainAddressInput input[type=text] {
        position: relative;
        width: 100%;
        background: #fefefe;
        border: 1px solid #CCCCCC;
        padding: 18px 10px;
        color: #757575;
        text-align: left;
        border-radius: 4px !important;
        box-shadow: 0 6px 1px -5px #666666;
        display: inline;
        vertical-align: middle;
        margin-bottom: 0px;
    }

.viewerMSProjectLoadProjects {
    padding: 0px;
    clear:both;
}

.viewerMSProjectCredentialsInput {
    display: inline-block;
    width: calc(50% - 100px);
    padding-top: 15px;
    min-width: 70px;
    float:left;
    padding-right: 3px;
}

    .viewerMSProjectCredentialsInput input[type=text] input[type=password] {
        position: relative;
        width: 100%;
        background: #fefefe;
        border: 1px solid #CCCCCC;
        padding: 18px 10px;
        color: #757575;
        text-align: left;
        border-radius: 4px !important;
        box-shadow: 0 6px 1px -5px #666666;
        display: inline;
        vertical-align: middle;
        margin-bottom: 0px;
    }

.viewerLoadMSOnlineProjectListButton {
    padding-top: 10px;
    min-width: 200px;
    float: left;
}

.viewerLoadMSOnlineProjectListButton .asposeButton .btn{
    width:100%;
    padding-right: 10px;
    padding-left: 10px;
}

.viewerMSProjectOnlineSelectProject {
    padding-top: 4px;
    width: 100%;
    clear: both;
}
    .viewerMSProjectOnlineSelectProject em {
        width: 150px;
        display: inline-block;
    }
    .viewerMSProjectOnlineSelectProject .asposeDropdownInner {
        width: calc(100% - 174px);
        float: none;
        min-width: 200px;
    }

    .viewerMSProjectOnlineSelectProject .asposeDropdown {
        display: block;
        margin: 0px;
        width: 100%;
    }

.viewerMSProjectViewProjectButton {
    margin: 20px auto 10px;
    width: 30%;
    min-width: 200px;
}

.converterMSProjectSaveAs {
    width: 65%;
    margin: 20px auto 0px;
    min-width: 355px;
}

.converterMSProjectSaveAs .convertbtn{
    padding-top: 10px;
}

.downloaderMSProjectDownloadBtn {
    margin: 20px auto 0px;
}


.asposeErrorMessage {
    height: 18px;
    margin: 20px;
}

.asposeErrorMessage > span{
    font-size: 13px;
    background: #f2dede;
    color: red;
    padding: 10px;
    margin: 10px;
    border-radius: 4px
}

.asposeWarnMessage {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    padding: 3px;
    font-size: 10px;
    color: white;
    float: left;
    display: block;
    border-radius: 4px;
    background: #bfdffb2b;
    clear: both;
}

.asposeDropdown .asposeDropdownInner button {
    width: 100%;
}

.groupfields.encryptpass {
    display: flex;
    justify-content: center;
    align-items: center;
}

	.groupfields.encryptpass em {
		font-style: normal;
		color: #FFFFFF;
		margin-left: 5px;
		font-size: 18px;
	}

	.groupfields.encryptpass input[type=password], .groupfields.encryptpass input[type=text] {
		margin-left: 15px;
		max-width: 30%;
	}

.rawHeaders {
	width: 65%;
	display: table;
	margin: 0 auto 30px;
}

	.rawHeaders textarea {
		background: #fefefe;
		border: 1px solid #CCCCCC;
		padding: 15px;
		color: #757575;
		text-align: left;
		border-radius: 4px !important;
		min-height: 200px !important;
		box-shadow: 0 6px 1px -5px #666666;
		display: inline;
		vertical-align: top;
	}

/*Supported File Format */

.convertypes {
	background: #fdfdfd;
	border-top: 1px solid #FEFEFE;
	padding: 80px 0
}

	.convertypes h4 {
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		margin: 0px 0 20px;
	}

	.convertypes p {
		text-align: center;
		margin-bottom: 70px;
	}

	.convertypes ul {
		padding: 0;
		margin: 0 auto;
		list-style-type: none;
		display: table
	}

		.convertypes ul.onebox li {
			min-width: 100% !important;
			width: 100% !important;
		}

		.convertypes ul.twobox li {
			min-width: 48% !important;
			width: 48% !important;
		}

		.convertypes ul.threebox li {
			min-width: 31% !important;
			width: 31% !important;
		}


	.convertypes li {
		min-width: 23%;
		float: left;
		font-size: 12px;
		margin-bottom: 20px;
		margin-right: 2%;
	}

		.convertypes li a {
			font-size: 14px;
			display: block;
			text-transform: uppercase;
			margin-bottom: 5px;
			color: #3d8ec4;
		}

			.convertypes li a:hover {
				color: #3071a9 !important
			}

.product_listapp {
	padding: 0 15px 75px 15px
}

	.product_listapp h3 {
		font-weight: bold;
		font-size: 32px;
		letter-spacing: -1px;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.product_listapp ul {
		display: table;
		margin: 0 auto;
		padding: 0
	}

	.product_listapp li {
		width: 15%;
		float: left;
		list-style-type: none;
		text-align: center;
		margin: 5px
	}

		.product_listapp li a {
			padding: 15px;
			border: 1px solid #eee;
			box-shadow: 0 0 20px -18px #000;
			font-size: 13px;
			flex: none;
			transition: .3s all ease-in-out;
			line-height: 16px;
			float: left;
			width: 100%
		}

			.product_listapp li a:hover {
				background: #1a89d0;
				color: #ffffff
			}

@media(max-width:1024px) {
	.convertypes {
		text-align: left !important;
	}

	.product_listapp li {
		width: 30%;
	}
}

@media(max-width:868px) {
	.convertypes {
		text-align: left !important;
		padding-left: 15px;
		padding-right: 15px
	}

		.convertypes li {
			width: 33.33%;
		}
}

@media(max-width:668px) {
	.convertypes {
		text-align: center !important;
		padding-left: 15px;
		padding-right: 15px
	}

		.convertypes li {
			width: 100%;
		}

	.product_listapp li {
		width: 47%;
	}
}

.assembly .form-inline div {
	display: inline-block;
}

.assembly .form-inline em {
	color: white;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: default;
}

.assembly .btn-navigate {
	font-size: 18px;
}

.viewerbtn {
	display: inline-block;
}

	.viewerbtn .btn {
		background: #3f98d6;
		color: #FFFFFF;
		padding: 10px 70px;
		border-radius: 4px !important;
		font-size: 18px;
		font-weight: normal;
		outline: 0 !important;
		box-shadow: 0 6px 1px -5px #666666;
		border: 0 !important
	}

		.viewerbtn .btn:hover {
			background: #3683b9;
		}

.select2-container--default .select2-selection--single {
	background: #ebebeb !important;
	border: none !important;
	border-radius: 0px !important;
}

.select2-selection__arrow {
	height: 50px !important;
	top: 3px !important;
	right: 8px !important;
}

.select2 {
	background: #ebebeb !important;
	border: 1px solid #CCCCCC !important;
	padding: 15px !important;
	font-size: 18px !important;
	color: #757575 !important;
	border-radius: 4px !important;
	text-align: left !important;
	min-width: 200px !important;
	box-shadow: 0 6px 1px -5px #666666 !important;
}

.otherapps {
    margin-top: -60px;
	background-color: #ffffff;
	padding: 20px;
}

	.otherapps .app-icon {
		text-align: center;
		padding-bottom: 20px;
		box-sizing: border-box;
	}

		.otherapps .app-icon div {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

	.otherapps a {
		display: inline-block;
		text-align: center;
	}

		.otherapps a span {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px !important;
			color: #333333;
		}

		.otherapps a img {
			display: block;
			max-width: 60px;
			margin: auto;
		}

	.otherapps h4 {
		text-align: center;
        padding-bottom: 15px;
	}
    .otherapps .row {
		max-width: 800px;
		margin-left: auto !important;
		margin-right: auto !important;
	}

.share-button {
	color: #fff;
	background-color: #888;
	font-size: 16px;
	width: 200px;
	height: 50px;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 8px 0 0 8px;
	transform: translateX(150px);
	transition: transform 0.4s ease-out;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0 0 0 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 5000;
}
.share-button:hover {
	transform: translateX(0);
}
.share-button::after {
	font-family: Fontawesome;
	color: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.share-button.share-button__facebook {
	top: 70px;
	background-color: #4267B2;
}
.share-button.share-button__facebook::after {
	content: '\f09a';
}
.share-button.share-button__twitter {
	top: 130px;
	background-color: #1da1f2;
}
.share-button.share-button__twitter::after {
	content: '\f099';
}
.share-button.share-button__linkedin {
	top: 190px;
	background-color: #2867b2;
}
.share-button.share-button__linkedin::after {
	content: '\f0e1';
}
.share-button.share-button__otherapp {
    top: 250px;
    background-color: #475796;
}
.share-button.share-button__otherapp::after {
	content: '\f1c2';
}
.share-button.share-button__pdfotherapp {
    top: 250px;
    background-color: #475796;
}
.share-button.share-button__pdfotherapp::after {
    content: '\f1c1';
}
.share-button.share-button__cloud {
	top: 310px;
	background-color: #4F49AD;
}
.share-button.share-button__cloud::after {
    content: '\f0c2';
}
.share-button a, .share-button a:hover, .share-button a:visited, .share-button a:active {
	color: white;
}
.share-button.share-button__feedback {
    top: 370px;
    background-color: #3A9447;
}
.share-button.share-button__feedback::after {
    content: '\f0a1';
}
.share-button.share-button__bookmark {
	top: 430px;
	background-color: #f80;
}
.share-button.share-button__bookmark::after {
	content: '\f005';
}
#feedbackModal .small {
	color: rgba(0, 0, 0, 0.4);
}

div#iframe-wrap {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999999;
}
div#iframe-wrap > iframe {
	/* overflow: auto; */
	width: 100%;
	height: 100%;
}

.feedback-form textarea {
	width: 575px;
	min-height: 35px;
	max-height: 35px;
	resize: none;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	outline: none !important;
	padding: 5px 15px;
	overflow-y: hidden;
	transition: min-height 0.5s ease-out, max-height 0.5s ease-out;
}
@media(max-width:1100px) {
	.feedback-form textarea {
		width: 440px;
	}
}
@media(max-width:860px) {
	.feedback-form textarea {
		width: 330px;
	}
}

.feedback-form textarea:focus {
	min-height: 120px;
	max-height: 120px;
}

.feedback-form div.small {
	color: rgba(255,255,255,0.4);
	margin: 0 auto 10px auto;
	width: 100%;
}
.feedback-form div.feedback-form {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feedback-form div.feedback-form a.btn {
	display: inline-block;
	border-radius: 4px !important;
	margin-left: 15px;
	margin-top: -35px !important;
}

@media(max-width:668px) {
	.convertypes ul li, .convertypes ul.onebox li, .convertypes ul.twobox li, .convertypes ul.threebox li {
		width: 100% !important;
		min-width: 100%;
		max-width: 100%
	}
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#alertMessage a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

div#otherapps-panel {
	position: fixed;
	left: 0;
	top: 70px;
	width: 150px;
	min-height: 90px;
	z-index: 50000;
}
div#otherapps-panel > a.otherapps-panel__button {
	display: block;
	width: 150px;
	height: 30px;
	margin: 0 0 5px 0;
	background-color: #fff;
	background-size: 15%;
	background-position: right 4px center;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.5;
	border-radius: 0 4px 4px 0;
	transform: translateX(-120px);
	transition: transform 0.4s ease-out, opacity 0.4s ease-in;
	text-align: left;
	box-sizing: border-box;
	padding: 3px 0 0 10px;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

div#otherapps-panel > a.otherapps-panel__button_current {
    opacity: 0.8;
}

div#otherapps-panel > a.otherapps-panel__button:hover {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 800px) {
    .otherapps-panel-hide-on-mobile {
        visibility: hidden;
        display: none;
    }

    .social-panel-hide-on-mobile {
        visibility: hidden;
        display: none;
    }
}

#splitNumber, #splitRange {
    border-radius: 5px;
    margin-left: 7px;
    border-style: none;
    padding-left: 10px;
}

.notifyblock {
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.06);
	width: fit-content;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}

.appvideo {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}