/*
Header, modal header, modal footer buttons
*/
#gd-header, #gd-nav-search-container, .gd-modal-header, .gd-modal-header-lightbox, .gd-modal-footer > .btn{
    background-color: #3e4e5a;
}
/*
Header logo
*/
#gd-header-logo{
	background-image: url('../images/logo.png');
	background-color: #25c2d4;
}
/*
Navigation bar buttons, search buttons, modal close button
*/
#gd-navbar > li, .gd-nav-search-btn, .gd-modal-close{
	color: #959da5;
}
/*
Hover for:
Navigation bar buttons, search buttons, modal close button
*/
#gd-navbar > li:hover, .gd-nav-search-btn:hover, .gd-modal-close:hover, #gd-navbar .open{
	color: #ffffff;
}
/*
Text color 1
*/
.gd-nav-dropdown-menu li, .gd-modal-table{
	color: #777777;
}
/*
Text color 2
*/
.gd-modal-table td:nth-child(3), .gd-modal-table td:last-child{
	color: #b2b8bd;
}
/*
Text color 3
*/
.gd-modal-title, .gd-modal-footer > .btn{
	color: #ffffff;
}