<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="19.12.0" targetFramework="net472" />
  <package id="Aspose.Email" version="19.12.0" targetFramework="net472" />
  <package id="Aspose.Words" version="20.1.0" targetFramework="net472" />
  <package id="Aspose.Words.Shaping.HarfBuzz" version="20.1.0" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.6.0-preview.18571.3" targetFramework="net472" />
</packages>