<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="18.8.0" targetFramework="net472" />
  <package id="Aspose.Email" version="18.8.0" targetFramework="net472" />
  <package id="Aspose.Words" version="18.9.0" targetFramework="net472" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="net47" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net47" />
</packages>