<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Membership.OpenAuth" version="2.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers" version="1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="System.Web.Providers" version="1.2" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2018.0.1127.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Fluent" version="2018.0.1127.1" targetFramework="net40" developmentDependency="true" />
</packages>