<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="21.1.0" targetFramework="net452" />
  <package id="Microsoft.Crm.Sdk.Proxy.2015" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.Xrm.Sdk.2015" version="7.1.0.1085" targetFramework="net452" />
</packages>