<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="17.12.0" targetFramework="net45" />
  <package id="Aspose.PDF" version="18.5.0" targetFramework="net45" />
  <package id="Aspose.Words" version="19.2.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="itextsharp.pdfa" version="5.5.13" targetFramework="net45" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net45" />
</packages>