<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="18.8.0" targetFramework="net45" />
  <package id="Aspose.PDF" version="19.9.0" targetFramework="net45" />
  <package id="Aspose.Words" version="19.12.0" targetFramework="net45" />
  <package id="Aspose.Words.Shaping.HarfBuzz" version="19.12.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net45" />
  <package id="itextsharp.pdfa" version="5.5.13" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="3.3.1" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="3.12.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net45" />
</packages>