<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="21.2.0" targetFramework="net472" />
  <package id="AutoMapper" version="3.0.0" targetFramework="net472" />
  <package id="ClientDependency" version="1.9.9" targetFramework="net472" />
  <package id="ClientDependency-Mvc5" version="1.8.0.0" targetFramework="net472" />
  <package id="Examine" version="0.1.68.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net472" />
  <package id="ImageProcessor" version="2.3.0.0" targetFramework="net472" />
  <package id="ImageProcessor.Web" version="4.4.0.0" targetFramework="net472" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="semver" version="1.1.2" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="UmbracoCms.Core" version="7.3.0" targetFramework="net472" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net472" />
</packages>