name: Create pull request
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        commit-message: Updated API version        
        base: falleretic/Aspose.Words-for-.NET/master
        branch: aspose-words/Aspose.Words-for-.NET/master
